<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi i am Home </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius soluta quidem facere sunt iusto iure nulla ea rem libero, amet ad molestiae voluptas aspernatur, cupiditate necessitatibus. Tempore aspernatur similique distinctio!</p>
    <button>Click Here</button>
</body>
</html>